 .u-section-1 {

   background-position: 50% 50%;
 }

 .fixedbutton {
  color: #54230a ;
  position: fixed;
  bottom: 10%;
  right: 4%; 
  padding: 33px;
  font-size: xx-large;

}
#fixedbutton{
  height: 60px;
  line-height: 80px;  
  width: 60px;  
  cursor: pointer;
}

 .u-section-1 .u-sheet-1 {
   min-height: 344px;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
     min-height: 284px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 218px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 {
     background-position: 9.06% 50%;
   }

   .u-section-2 .u-text-1 {
     margin: -611px auto 0px 30% !important;
   }

   .u-section-2 .u-text-2 {
     width: 73%;
     margin-left: 57% !important;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 164px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 {
     background-position: 29.44% 0%;
   }

   .u-section-2 .u-text-1 {
     margin: -611px auto 0px 37% !important;
   }

   .u-section-2 .u-text-2 {
     width: 75%;
     margin-left: 90% !important;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 103px;
   }
 }

 .u-section-2 {
   background-image: none;
 }

 .u-section-2 .u-sheet-1 {
   min-height: 642px;
 }

 .u-section-2 .u-shape-1 {
   width: 1034px;
   height: 517px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 125px auto 0;
 }

 .u-section-2 .u-text-1 {
   font-size: 3.75rem;
   font-weight: 700;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: -485px auto 0;
 }

 .u-section-2 .u-layout-wrap-1 {
   width: 607px;
   margin: 23px auto 60px;
 }

 .u-section-2 .u-layout-cell-1 {
   min-height: 284px;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-2 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-2 .u-text-2 {
   font-weight: 500;
   margin: 0;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 590px;
   }

   .u-section-2 .u-shape-1 {
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 596px;
   }

   .u-section-2 .u-layout-wrap-1 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-2 .u-layout-cell-1 {
     min-height: 100px;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-sheet-1 {
     min-height: 650px;
   }

   .u-section-2 .u-layout-wrap-1 {
     width: 540px;
   }

   .u-section-2 .u-container-layout-1 {
     padding-left: 0px;
     padding-right: 0px;
     margin: 10px 0px 10px -146px;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-sheet-1 {
     min-height: 750px;
   }

   .u-section-2 .u-text-1 {
     font-size: 1.875rem;
   }

   .u-section-2 .u-layout-wrap-1 {
     width: 340px;
   }
 }

 .u-section-3 {
   background-image: none;
 }

 .u-section-3 .u-sheet-1 {
   min-height: 928px;
 }

 .u-section-3 .u-text-1 {
   font-size: 4.5rem;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 60px auto 0 0;
 }

 .u-section-3 .u-layout-wrap-1 {
   margin-top: 47px;
   margin-bottom: 60px;
 }

 .u-section-3 .u-layout-cell-1 {
   min-height: 612px;
 }

 .u-section-3 .u-container-layout-1 {
   padding: 0 45px 0 0;
 }

 .u-section-3 .u-shape-1 {
   width: 459px;
   height: 459px;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 180deg;
   --animation-custom_in-scale: 1;
   margin: 86px 0 0 auto;
 }

 .u-section-3 .u-image-1 {
   height: 451px;
   width: 607px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: -545px auto 0 0;
 }

 .u-section-3 .u-layout-cell-2 {
   min-height: 612px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-3 .u-container-layout-2 {
   padding: 45px 30px 20px;
 }

 .u-section-3 .u-group-1 {
   width: 620px;
   min-height: 246px;
   background-image: none;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 0 0 0 -262px;
 }

 .u-section-3 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-3 .u-text-2 {
   font-size: 3.75rem;
   margin: 0;
 }

 .u-section-3 .u-text-3 {
   margin: 38px 0 0;
 }

 @media (max-width: 1199px) {
   .u-section-3 .u-sheet-1 {
     min-height: 782px;
   }

   .u-section-3 .u-text-1 {
     font-size: 4.25rem;
     line-height: 1.8;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 551px;
   }

   .u-section-3 .u-shape-1 {
     width: 404px;
     height: 404px;
   }

   .u-section-3 .u-image-1 {
     height: 369px;
     width: 495px;
     margin-top: -490px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 551px;
   }

   .u-section-3 .u-group-1 {
     width: 546px;
     min-height: 170px;
     margin-left: -261px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 .u-sheet-1 {
     min-height: 664px;
   }

   .u-section-3 .u-text-1 {
     font-size: 3.4375rem;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 633px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-right: 30px;
   }

   .u-section-3 .u-shape-1 {
     width: 327px;
     height: 327px;
   }

   .u-section-3 .u-image-1 {
     height: 305px;
     width: 361px;
     margin-top: -413px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-top: 30px;
   }

   .u-section-3 .u-group-1 {
     width: 429px;
     margin-left: -225px;
   }

   .u-section-3 .u-text-2 {
     font-size: 3rem;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 .u-sheet-1 {
     min-height: 835px;
     min-width: 100%;
   }

   .u-section-3 .u-text-1 {
     font-size: 3.125rem;
     margin-left: 10%;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 451px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-right: 10px;
     padding-bottom: 30px;
   }

   .u-section-3 .u-image-1 {
     height: 328px;
     width: 414px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 486px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-group-1 {
     width: 525px;
     min-height: 171px;
     margin-left: -5px;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 .u-sheet-1 {
     min-height: 665px;
   }

   .u-section-3 .u-text-1 {
     font-size: 1.875rem;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 340px;
   }

   .u-section-3 .u-shape-1 {
     width: 262px;
     height: 262px;
     margin-top: 43px;
     margin-right: -3px;
   }

   .u-section-3 .u-image-1 {
     height: 236px;
     width: 292px;
     margin-top: -305px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 494px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-top: 0;
     padding-left: 0;
   }

   .u-section-3 .u-group-1 {
     width: 330px;
     min-height: 149px;
     margin-left: 0;
   }

   .u-section-3 .u-container-layout-3 {
     padding-left: 20px;
     padding-right: 20px;
   }

   .u-section-3 .u-text-2 {
     font-size: 1.5rem;
   }
 }

 .u-section-4 {
   background-image: none;
 }

 .u-section-4 .u-text-1 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 60px auto 0;
 }

 .u-section-4 .u-text-2 {
   font-size: 1.25rem;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   width: 875px;
   margin: 30px auto 0;
 }

 .u-section-4 .u-list-1 {
   grid-template-rows: repeat(1, auto);
   width: 570px;
   margin: 53px auto 0;
 }

 .u-section-4 .u-repeater-1 {
   grid-template-columns: repeat(2, calc(50% - 5px));
   min-height: 484px;
   grid-auto-columns: calc(50% - 5px);
   grid-gap: 10px;
 }

 .u-section-4 .u-list-item-1 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-4 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-4 .u-image-1 {
   width: 120px;
   height: 120px;
   background-image: url("images/woman-showing-her-beautiful-nails_23-2148697087.jpg");
   background-position: 50% 50%;
   margin: 0 auto;
 }

 .u-section-4 .u-text-3 {
   text-transform: none;
   margin: 20px 0 0;
 }

 .u-section-4 .u-text-4 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 19px 0 0 95px;
 }

 .u-section-4 .u-text-5 {
   font-size: 1.25rem;
   line-height: 1;
   font-weight: 400;
   margin: -29px 134px 0 29px;
 }

 .u-section-4 .u-text-6 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 134px 0 29px;
 }

 .u-section-4 .u-text-7 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 2px 0 94px;
 }

 .u-section-4 .u-text-8 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 2px 0 94px;
 }

 .u-section-4 .u-text-9 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 134px 0 29px;
 }

 .u-section-4 .u-text-10 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 135px 0 29px;
 }

 .u-section-4 .u-text-11 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 2px 0 94px;
 }

 .u-section-4 .u-text-12 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 2px 0 94px;
 }

 .u-section-4 .u-text-13 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 135px 0 11px;
 }

 .u-section-4 .u-list-item-2 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-4 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-4 .u-image-2 {
   width: 120px;
   height: 120px;
   background-image: url("images/skincare-beauty-female-feet-with-camomile-s-flower_186202-728.jpg");
   background-position: 50% 50%;
   margin: 0 auto;
 }

 .u-section-4 .u-text-14 {
   font-size: 1.25rem;
   text-transform: none;
   font-weight: 600;
   margin: 20px 0 0;
 }

 .u-section-4 .u-text-15 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 19px 0 0 95px;
 }

 .u-section-4 .u-text-16 {
   font-size: 1.25rem;
   line-height: 1;
   font-weight: 400;
   margin: -29px 134px 0 29px;
 }

 .u-section-4 .u-text-17 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 134px 0 29px;
 }

 .u-section-4 .u-text-18 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 2px 0 94px;
 }

 .u-section-4 .u-text-19 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 2px 0 94px;
 }

 .u-section-4 .u-text-20 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 134px 0 29px;
 }

 .u-section-4 .u-text-21 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 135px 0 29px;
 }

 .u-section-4 .u-text-22 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 2px 0 94px;
 }

 .u-section-4 .u-text-23 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: 20px 2px 0 94px;
 }

 .u-section-4 .u-text-24 {
   font-size: 1.875rem;
   line-height: 1;
   font-weight: 400;
   margin: -30px 135px 0 11px;
 }

 .u-section-4 .u-list-2 {
   width: 570px;
   margin: 20px auto 0 0;
 }

 .u-section-4 .u-repeater-2 {
   grid-auto-columns: 100%;
   grid-template-columns: repeat(1, 100%);
   min-height: 609px;
   grid-gap: 10px;
 }

 .u-section-4 .u-list-item-3 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
 }

 .u-section-4 .u-container-layout-3 {
   padding: 10px 0 0;
 }

 .u-section-4 .u-image-3 {
   width: 120px;
   height: 120px;
   background-image: url("images/woman-showing-her-beautiful-nails_23-2148697087.jpg");
   background-position: 50% 50%;
   margin: 8px auto 0;
 }

 .u-section-4 .u-text-25 {
   font-weight: 400;
   font-size: 1.5rem;
   margin: 14px auto 0;
 }

 .u-section-4 .u-text-26 {
   font-size: 1.875rem;
   margin: -4px 0 0 340px;
 }

 .u-section-4 .u-text-27 {
   font-size: 1.5rem;
   margin: -54px auto 0 100px;
 }

 .u-section-4 .u-text-28 {
   font-size: 1.5rem;
   margin: -13px 324px 0 27px;
 }

 .u-section-4 .u-text-29 {
   font-size: 1.875rem;
   margin: -77px 28px 0 340px;
 }

 .u-section-4 .u-text-30 {
   font-weight: 400;
   font-size: 1.875rem;
   margin: 16px 237px 0 auto;
 }

 .u-section-4 .u-text-31 {
   font-size: 1.875rem;
   margin: 3px 2px 0 340px;
 }

 .u-section-4 .u-text-32 {
   font-size: 1.875rem;
   margin: -20px 1px 0 340px;
 }

 .u-section-4 .u-text-33 {
   font-size: 1.875rem;
   margin: -23px 1px 0 340px;
 }

 .u-section-4 .u-text-34 {
   font-size: 1.875rem;
   margin: -20px 1px 0 340px;
 }

 .u-section-4 .u-text-35 {
   font-size: 1.5rem;
   margin: -177px 334px 0 34px;
 }

 .u-section-4 .u-text-36 {
   font-size: 1.5rem;
   margin: -20px 334px 0 34px;
 }

 .u-section-4 .u-text-37 {
   font-size: 1.5rem;
   margin: -5px 286px 0 1px;
 }

 .u-section-4 .u-text-38 {
   font-size: 1.5rem;
   margin: -13px 310px 0 28px;
 }

 .u-section-4 .u-group-1 {
   width: 570px;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   height: auto;
   margin: -609px -14px 60px auto;
 }

 .u-section-4 .u-container-layout-4 {
   padding: 5px 23px;
 }

 .u-section-4 .u-image-4 {
   width: 120px;
   height: 120px;
   background-image: url("images/woman-doing-manicure-client-close-up_23-2148697076.jpg");
   background-position: 50% 50%;
   margin: 4px auto 0;
 }

 .u-section-4 .u-text-39 {
   font-weight: 400;
   font-size: 1.875rem;
   margin: 30px auto 0;
 }

 .u-section-4 .u-text-40 {
   font-size: 1.5rem;
   margin: 60px 35px 0 auto;
 }

 .u-section-4 .u-text-41 {
   font-size: 1.5rem;
   margin: -36px auto 0 0;
 }

 .u-section-4 .u-text-42 {
   font-size: 1.5rem;
   margin: -4px 35px 0 auto;
 }

 .u-section-4 .u-text-43 {
   font-size: 1.5rem;
   margin: -36px auto 0 7px;
 }

 .u-section-4 .u-text-44 {
   font-size: 1.5rem;
   margin: -4px 41px 0 auto;
 }

 .u-section-4 .u-text-45 {
   font-size: 1.5rem;
   margin: -36px auto 0 7px;
 }

 .u-section-4 .u-text-46 {
   font-size: 1.5rem;
   margin: 7px 151px 0 1px;
 }

 .u-section-4 .u-text-47 {
   font-size: 1.5rem;
   margin: -47px 20px 0 auto;
 }

 .u-section-4 .u-text-48 {
   font-size: 1.5rem;
   margin: 0 auto 0 1px;
 }

 .u-section-4 .u-text-49 {
   font-size: 1.5rem;
   margin: -48px 35px 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-4 .u-list-1 {
     margin-top: 20px;
   }

   .u-section-4 .u-repeater-2 {
     grid-template-columns: 100%;
   }

   .u-section-4 .u-list-item-3 {
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
   }

   .u-section-4 .u-image-3 {
     margin-top: 0px;
   }

   .u-section-4 .u-text-25 {
     margin-top: 30px;
   }

   .u-section-4 .u-text-26 {
     margin-top: 22px;
   }

   .u-section-4 .u-text-27 {
     margin-top: -53px;
   }

   .u-section-4 .u-text-28 {
     margin-top: 0px;
     margin-right: 326px;
     margin-left: 29px;
   }

   .u-section-4 .u-text-29 {
     margin-top: -75px;
   }

   .u-section-4 .u-text-30 {
     margin-top: 17px;
   }

   .u-section-4 .u-text-31 {
     margin-top: -12px;
   }

   .u-section-4 .u-text-32 {
     margin-top: -10px;
     margin-right: 0;
   }

   .u-section-4 .u-text-33 {
     margin-top: -10px;
     margin-right: 0;
   }

   .u-section-4 .u-text-34 {
     margin-top: -10px;
     margin-right: 0;
   }

   .u-section-4 .u-text-35 {
     margin-top: -201px;
   }

   .u-section-4 .u-text-36 {
     margin-top: 0px;
     margin-right: 333px;
   }

   .u-section-4 .u-group-1 {
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
     margin-top: 20px;
     height: auto;
   }
 }

 @media (max-width: 991px) {
   .u-section-4 .u-text-2 {
     width: 720px;
   }

   .u-section-4 .u-list-1 {
     margin-top: 75px;
   }

   .u-section-4 .u-repeater-1 {
     grid-template-columns: 100%;
     grid-auto-columns: calc(100% - 0px);
   }

   .u-section-4 .u-text-4 {
     width: auto;
     margin-right: -37px;
     margin-left: 310px;
   }

   .u-section-4 .u-text-5 {
     margin-top: -24px;
     margin-left: -70px;
   }

   .u-section-4 .u-text-6 {
     margin: 20px 203px 0 0;
   }

   .u-section-4 .u-text-7 {
     margin-left: 61%;
   }

   .u-section-4 .u-text-8 {
     margin: 20px 0 0 61%;
   }

   .u-section-4 .u-text-9 {
     margin-right: 45%;
   }

   .u-section-4 .u-text-10 {
     margin: 20px 40% 0 0%;
   }

   .u-section-4 .u-text-11 {
     margin-left: 60%;
   }

   .u-section-4 .u-text-12 {
     margin-left: 60%;
   }

   .u-section-4 .u-text-13 {
     margin-right: 42%;
   }

   .u-section-4 .u-text-15 {
     margin: 20px 0 0 60%;
   }

   .u-section-4 .u-text-16 {
     margin-right: 45%;
   }

   .u-section-4 .u-text-17 {
     margin-right: 45%;
   }

   .u-section-4 .u-text-18 {
     margin-left: 61%;
   }

   .u-section-4 .u-text-19 {
     margin-left: 61%;
   }

   .u-section-4 .u-text-20 {
     margin-right: 45%;
   }

   .u-section-4 .u-text-21 {
     margin-right: 45%;
   }

   .u-section-4 .u-text-22 {
     margin-left: 61%;
   }

   .u-section-4 .u-text-23 {
     margin-left: 61%;
   }

   .u-section-4 .u-text-24 {
    margin-right: 45%;
  }
 }

 @media (max-width: 767px) {
   .u-section-4 .u-text-2 {
     width: 540px;
   }

   .u-section-4 .u-list-1 {
     margin-top: 43px;
     width: 540px;
   }

   .u-section-4 .u-repeater-1 {
     grid-auto-columns: 100%;
   }

   .u-section-4 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-3 {
     padding: 30px;
   }

   .u-section-4 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-list-2 {
     width: 540px;
     margin-left: 15%;
   }

   .u-section-4 .u-image-3 {
     margin-top: -229px;
   }

   .u-section-4 .u-text-4 {
     width: auto;
     margin-right: -37px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-5 {
     width: auto;
     margin-top: -25px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-6 {
     width: auto;
     margin-top: 30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-7 {
     width: auto;
     margin-top: -30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-8 {
     width: auto;
     margin-top: 30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-9 {
     width: auto;
     margin-top: -30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-10 {
     width: auto;
     margin-top: 20px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-11 {
     width: auto;
     margin-top: -30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-12 {
     width: auto;
     margin-top: 30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-13 {
     width: auto;
     margin-top: -30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-15 {
     width: auto;
     margin-top: 30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-16 {
     width: auto;
     margin-top: -30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-17 {
     width: auto;
     margin-top: 30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-18 {
     width: auto;
     margin-top: -30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-19 {
     width: auto;
     margin-top: 30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-20 {
     width: auto;
     margin-top: -30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-21 {
     width: auto;
     margin-top: 30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-22 {
     width: auto;
     margin-top: -30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-23 {
     width: auto;
     margin-top: 30px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-24 {
     width: auto;
     margin-top: -30px;
     margin-right: 250px;
     margin-left: 0px;
   }

   .u-section-4 .u-text-26 {
     width: auto;
     margin-top: -10px;
     margin-left: 310px;
   }

   .u-section-4 .u-text-27 {
     width: auto;
     margin-top: -52px;
     margin-left: 115px;
   }

   .u-section-4 .u-text-28 {
     width: auto;
     margin-left: 45px;
     margin-right: 255px;
   }

   .u-section-4 .u-text-29 {
     width: auto;
     margin-top: -75px;
     margin-right: 0px;
     margin-left: 310px;
   }

   .u-section-4 .u-text-30 {
     width: auto;
     margin-top: 20px;
   }

   .u-section-4 .u-text-31 {
     width: auto;
     margin-top: 0px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-32 {
     width: auto;
     margin-top: -5px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-33 {
     width: auto;
     margin-top: 0px;
     margin-right: 0px;
     margin-left: 300px;
   }

   .u-section-4 .u-text-34 {
     margin-top: 0px;
     margin-right: 0;
     margin-left: 300px;
   }

   .u-section-4 .u-text-35 {
     width: auto;
     margin-top: -230px;
   }

   .u-section-4 .u-text-36 {
     width: auto;
     margin-top: 0px;
   }

   .u-section-4 .u-text-37 {
     width: auto;
     margin-top: 0px;
   }

   .u-section-4 .u-text-38 {
     width: auto;
     margin-top: 0px;
   }

   .u-section-4 .u-text-40 {
     margin: 0px 85px 0 auto;
   }

   .u-section-4 .u-text-41 {
     margin: -45px auto 0px 20px;
   }

   .u-section-4 .u-text-42 {
     margin: 0px 85px 0 auto;
   }

   .u-section-4 .u-text-43 {
     margin: -45px auto 0px 41px;
   }

   .u-section-4 .u-text-44 {
     margin: 0px 85px 0 auto;
   }

   .u-section-4 .u-text-45 {
     margin: -45px auto 0 0px;
   }

   .u-section-4 .u-text-46 {
     margin: 0px 246px 0px 50px
   }

   .u-section-4 .u-text-47 {
     margin: -70px 85px 0 auto;
   }

   .u-section-4 .u-text-48 {
     margin: 30px 267px 0 auto;
   }

   .u-section-4 .u-text-49 {
     margin: -49px 85px 0 auto;
   }

   .u-section-4 .u-image-3 {
     margin-top: 0px;
   }

   .u-section-4 .u-group-1 {
     width: 540px;
     margin-left: 15%;
     margin-right: 0;
   }

   .u-section-4 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

 }

 @media (max-width: 575px) {
   .u-section-4 {
     min-height: 3253px;
   }

   .u-section-4 .u-text-2 {
     width: 340px;
   }

   .u-section-4 .u-list-1 {
     margin-top: 21px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-4 .u-repeater-1 {
     min-height: 929px;
   }

   .u-section-4 .u-text-4 {
     width: auto;
     margin-top: 26px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-5 {
     width: auto;
     margin-top: -24px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-6 {
     width: auto;
     margin-top: 13px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-7 {
     width: auto;
     margin-top: -30px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-8 {
     width: auto;
     margin-top: 10px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-9 {
     width: auto;
     margin-top: -30px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-10 {
     width: auto;
     margin-top: 12px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-11 {
     width: auto;
     margin-top: -29px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-12 {
     width: auto;
     margin-top: 10px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-13 {
     width: auto;
     margin-top: -30px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-15 {
     width: auto;
     margin-top: 26px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-16 {
     width: auto;
     margin-top: -24px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-17 {
     width: auto;
     margin-top: 13px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-18 {
     width: auto;
     margin-top: -30px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-19 {
     width: auto;
     margin-top: 10px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-20 {
     width: auto;
     margin-top: -30px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-21 {
     width: auto;
     margin-top: 12px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-text-22 {
     width: auto;
     margin-top: -29px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-23 {
     width: auto;
     margin-top: 10px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-24 {
     width: auto;
     margin-top: -30px;
     margin-right: 100px;
     margin-left: -100px;
   }

   .u-section-4 .u-list-2 {
     margin-top: 110px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-4 .u-repeater-2 {
     min-height: 880px;
   }

   .u-section-4 .u-container-layout-3 {
     padding-top: 0;
   }

   .u-section-4 .u-image-3 {
     margin-top: -60px;
   }

   .u-section-4 .u-text-25 {
     margin-top: 25px;
   }

   .u-section-4 .u-text-26 {
     width: auto;
     margin-top: 30px;
     margin-right: 57px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-27 {
     width: auto;
     margin-top: -54px;
     margin-left: 100px;
   }

   .u-section-4 .u-text-28 {
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 228;
   }

   .u-section-4 .u-text-29 {
     width: auto;
     margin-right: 20px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-30 {
     font-size: 1.5rem;
     width: auto;
     margin-top: 10px;
     margin-right: auto;
   }

   .u-section-4 .u-text-31 {
     width: auto;
     margin-top: 19px;
     margin-right: -210px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-32 {
     width: auto;
     margin-top: 0px;
     margin-left: 325px;
     margin-bottom: 40px;
   }

   .u-section-4 .u-text-33 {
     width: auto;
     margin-top: -40px;
     margin-right: 0px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-34 {
     width: auto;
     margin-top: 0px;
     margin-left: 325px;
   }

   .u-section-4 .u-text-35 {
     width: auto;
     margin-top: -250px;
     margin-right: 190px;
     margin-left: -52px;
     margin-bottom: 30px;
   }

   .u-section-4 .u-text-36 {
     width: auto;
     margin-top: -17px;
     margin-left: auto;
     margin-right: 250px;
   }

   .u-section-4 .u-text-37 {
     width: auto;
     margin-top: 10px;
     margin-left: 29px;
     margin-right: 243px;
   }

   .u-section-4 .u-text-38 {
     width: 332px;
     margin: -13px 310px 0 0px;
   }

   .u-section-4 .u-group-1 {
     margin-top: 110px;
     min-height: 699px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-4 .u-container-layout-4 {
     padding-top: 0;
     padding-bottom: 0;
   }

   .u-section-4 .u-image-4 {
     margin-top: -62px;
   }

   .u-section-4 .u-text-39 {
     font-size: 1.5rem;
     margin-top: 101px;
   }

   .u-section-4 .u-text-41 {
     width: auto;
     margin-top: -46px;
     margin-left: 46px;
   }

   .u-section-4 .u-text-42 {
     width: auto;
     margin-top: 0px;
     margin-right: 84px;
     margin-bottom: 0px;
   }

   .u-section-4 .u-text-43 {
     width: auto;
     margin-top: -48px;
     margin-left: 66px;
   }

   .u-section-4 .u-text-44 {
     width: auto;
     margin-top: 0px;
     margin-right: 83px;
     margin-bottom: 32px;
   }

   .u-section-4 .u-text-45 {
     width: auto;
     margin-top: -76px;
     margin-left: 22px;
   }

   .u-section-4 .u-text-46 {
     width: 333px;
     text-align: center;
     margin-top: 2px;
     margin-right: 3px;
     margin-left: 5px;
   }

   .u-section-4 .u-text-47 {
     width: auto;
     margin-top: -70px;
     margin-right: 61px;
   }

   .u-section-4 .u-text-48 {
     width: 333px;
     margin-top: 20px;
     margin-left: 60px;
   }

   .u-section-4 .u-text-49 {
     width: auto;
     margin-top: -48px;
     margin-right: 74px;
   }
 }

 .u-section-5 {
   background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('images/ersg-min.jpg');
   background-position: 50% 50%;
 }

 .u-section-5 .u-text-1 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 60px auto 0;
 }

 .u-section-5 .u-line-1 {
   width: 114px;
   height: 3px;
   transform-origin: right center;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   margin: 27px auto 0;
 }

 .u-section-5 .u-text-2 {
   font-size: 1.5rem;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
   font-weight: 400;
   margin: 27px 116px 0 99px;
 }

 .u-section-5 .u-list-1 {
   grid-template-rows: repeat(1, auto);
   width: 558px;
   margin: 77px auto 0 0;
 }

 .u-section-5 .u-repeater-1 {
   grid-template-columns: repeat(1, 100%);
   min-height: 727px;
   grid-auto-columns: 100%;
   grid-gap: 10px;
 }

 .u-section-5 .u-list-item-1 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-5 .u-container-layout-1 {
   padding: 0 30px;
 }

 .e-list-1 {
   margin: 0 0 0 25% !important;
 }

 .e-list-2 {
   margin: -38% 0 140px 65% !important;
 }

 .u-section-5 .u-image-1 {
   width: 120px;
   height: 120px;
   background-image: url("images/photo-1589710751893-f9a6770ad71b.jpeg");
   background-position: 50% 50%;
   margin: 30px auto 0;
 }

 .u-section-5 .u-text-3 {
   font-weight: 700;
   font-family: "Akaya Telivigala";
   margin: 20px 0 0;
 }

 .u-section-5 .u-text-4 {
   font-size: 1.5rem;
   margin: 0px 7px 0 0;
 }

 .u-section-5 .u-text-5 {
   font-size: 1.5rem;
   margin: -48px 6px 0 65%;
 }

 .u-section-5 .u-text-6 {
   font-size: 1.5rem;
   margin: 10px 7px 0 0;
 }

 .u-section-5 .u-text-7 {
   font-size: 1.5rem;
   line-height: 1;
   font-weight: 400;
   margin: -10% 0 0 65%;
 }

 .u-section-5 .u-text-8 {
   font-size: 1.5rem;
 }

 .u-section-5 .u-text-9 {
   font-size: 1.5rem;
   margin: -19% 0 0 65%;
 }

 .u-section-5 .u-text-10 {
   font-size: 1.5rem;
   margin: 2% 0 0 0;
 }

 .u-section-5 .u-text-11 {
   font-size: 1.5rem;
   margin: -14% 0 0 65%;
 }

 .u-section-5 .u-text-12 {
   font-size: 1.5rem;
   margin: 1% 6px 0 0;
 }

 .u-section-5 .u-text-13 {
   font-size: 1.5rem;
   margin: -13% 6px 0 65%;
 }

 .u-section-5 .u-text-14 {
   font-size: 1.5rem;
 }

 .u-section-5 .u-text-15 {
   font-size: 1.5rem;
   margin: -67px 6px 0 246px;
 }

 .u-section-5 .u-group-1 {
   width: 570px;
   height: auto;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   margin: 0px 0 60px auto;
 }

 .u-section-5 .u-group-2 {
   width: 570px;
   height: auto;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
 }

 .u-ruby {
   display: ruby-text;
 }

 .u-section-5 .u-container-layout-2 {
   padding: 0;
 }

 .u-section-5 .u-image-2 {
   width: 120px;
   height: 120px;
   background-image: url("https://pixabay.com/get/gf7ea3e2ac13d11229c40d0ffda278d1e2da07edfd3e6d01d186809e7910c2199f988f56f0b7fb073c0d0decb17317e5d7601d26919f179601f55f7861e6b43e8_1280.jpg");
   background-position: 50% 50%;
   margin: 30px auto 0;
 }

 .u-section-5 .u-text-16 {
   font-family: "Akaya Telivigala";
   font-size: 1.875rem;
   margin: 30px 244px 0 auto;
 }

 .u-section-5 .u-text-17 {
   font-size: 1.5rem;
   margin: 7px 40px 0 285px;
 }

 .u-section-5 .u-text-18 {
   font-size: 1.5rem;
   line-height: 1;
   font-weight: 400;
   margin: -35px 285px 0 81px;
 }

 .u-section-5 .u-text-19 {
   font-size: 1.5rem;
   margin: 7px 39px 0 285px;
 }

 .u-section-5 .u-text-20 {
   font-size: 1.5rem;
   margin: -48px auto 0 81px;
 }

 .u-section-5 .u-text-21 {
   font-size: 1.5rem;
   margin: 0 39px 0 285px;
 }

 .u-section-5 .u-text-22 {
   font-size: 1.5rem;
   margin: -48px 260px 0 81px;
 }

 .u-section-5 .u-text-23 {
   font-size: 1.5rem;
   margin: -3px 284px 0 80px;
 }

 .u-section-5 .u-text-24 {
   font-size: 1.5rem;
   margin: -48px 40px 0 284px;
 }

 .u-section-5 .u-text-25 {
   font-size: 1.5rem;
   margin: 0 64px 0 308px;
 }

 .u-section-5 .u-text-26 {
   font-size: 1.5rem;
   margin: -48px 262px 0 81px;
 }

 .u-section-5 .u-text-27 {
   font-size: 1.5rem;
   margin: -5px auto 0 81px;
 }

 .u-section-5 .u-text-28 {
   font-size: 1.5rem;
   margin: -48px 58px 0 303px;
 }

 .u-section-5 .u-text-29 {
   font-size: 1.5rem;
   margin: 1px auto 0 81px;
 }

 .u-section-5 .u-text-30 {
   font-size: 1.5rem;
   margin: -48px 67px 0 312px;
 }

 @media (max-width: 1199px) {
   .u-listwidth {
     width: 70% !important;
   }

   .e-list-2 {
     margin: 0 auto !important;
   }

   .u-section-5 .u-text-2 {
     width: 740px;
     margin-left: 16%;
   }

   .u-section-5 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-5 .u-text-4 {
     font-size: 1.5rem;
     margin: 10px 50% 0 0;
   }

   .u-section-5 .u-text-5 {
     font-size: 1.5rem;
     margin: -49px 0 0 50%;

   }

   .u-section-5 .u-text-6 {
     margin: -0 48% 0 0;
   }

   .u-section-5 .u-text-7 {
     margin: -48px 0 0 50%;
   }

   .u-section-5 .u-text-8 {
     margin: 10px auto 0 0;
   }

   .u-section-5 .u-text-9 {
     margin: -48px 0 0 50%;

   }

   .u-section-5 .u-text-10 {
     font-size: 1.5rem;
     margin: -10px 46% 0 0;
   }

   .u-section-5 .u-text-11 {
     margin: -46px 0px 0 50%;
   }

   .u-section-5 .u-text-12 {
     margin: 0px 0 0 31%;
   }

   .u-section-5 .u-text-13 {
     font-size: 1.5rem;
     margin: -6px auto 0 0;
   }

   .u-section-5 .u-text-14 {
     font-size: 1.5rem;
     margin: 0 0% 0 31%;
   }

   .u-section-5 .u-text-15 {
     font-size: 1.5rem;
     margin: -5px auto 0 0px;

   }

   .u-section-5 .u-group-1 {
     height: auto;
   }
 }

 @media (max-width: 991px) {
   .u-listwidth {
     width: 80% !important;
   }

   .u-section-5 .u-group-2 {
     margin-left: 33%;
   }

   .u-section-5 .u-text-2 {
     width: 720px;
     margin-right: 0;
   }

   .u-section-5 .u-text-6 {
     margin-top: 0px;
   }

   .u-section-5 .u-text-7 {
     margin-top: -37px;
   }

   .u-section-5 .u-text-9 {
     margin-right: 4px;
   }

   .u-section-5 .u-text-10 {
     margin-top: 0px;
     margin-right: 198px;
   }

   .u-section-5 .u-text-11 {
     margin-right: 4px;
   }

   .u-section-5 .u-text-12, .u-section-5 .u-text-14 {
    margin: 10px 62% 0 0%;
    text-align: center;
}

   .u-section-5 .u-text-13, .u-section-5 .u-text-15 {
    margin-top: -13%;
    margin-right: -50%;
  }
 }

 @media (max-width: 767px) {
   .u-section-5 .u-group-2 {
     margin-left: 7%;
   }

   .u-section-5 .u-text-2 {
     width: 540px;
   }

   .u-section-5 .u-list-1 {
     width: 540px;
   }

   .u-section-5 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   /*.u-section-5 .u-text-8 {
     margin-right: 388px;
   }

   .u-section-5 .u-text-9 {
     margin-right: 156px;
   }*/

   .u-section-5 .u-text-10 {
     margin-right: 156px;
   }

   /*.u-section-5 .u-text-11 {
     margin-right: 157px;
   }
*/
.u-section-5 .u-text-12, .u-section-5 .u-text-14 {
  margin: 10px 40% 0 0%;
  text-align: left;
}

   .u-section-5 .u-group-1 {
     width: 540px;
     margin: 0px 0px 0px 37px;
   }

   .u-section-5 .u-text-16 {
     margin-right: 231px;
   }

   .u-section-5 .u-text-17 {
     margin-right: -73px;
     margin-left: 169px;
   }

   .u-section-5 .u-text-18 {
     margin: -35px 285px 0 81px;

   }

   .u-section-5 .u-text-19 {
     margin-right: 24px;
     margin-left: 270px;
   }

   .u-section-5 .u-text-21 {
     margin-right: 24px;
     margin-left: 270px;
   }

   .u-section-5 .u-text-22 {
     margin-right: 245px;
     margin-left: 66px;
   }

   .u-section-5 .u-text-23 {
     margin-right: 269px;
     margin-left: 65px;
   }

   .u-section-5 .u-text-24 {
     margin-right: 25px;
     margin-left: 269px;
   }

   .u-section-5 .u-text-25 {
     margin-right: 49px;
     margin-left: 293px;
   }

   .u-section-5 .u-text-26 {
     margin-right: 247px;
     margin-left: 66px;
   }

   .u-section-5 .u-text-27 {
     margin-left: 66px;
   }

   .u-section-5 .u-text-28 {
     margin-right: 43px;
     margin-left: 288px;
   }

   .u-section-5 .u-text-30 {
     margin-right: 52px;
     margin-left: 297px;
   }
 }

 @media (max-width: 575px) {
   .u-section-5 {
     min-height: 1650px;
   }

   .u-section-5 .u-text-2 {
     width: 96%;
     margin-left: calc(((100% - 550px) / 2));
     margin-right: calc(((100% - 340px) / 2));
   }

   .u-section-5 .u-list-1 {
     margin-right: initial;
     margin-left: initial;
     width: 100% !important;
   }

   .e-list-1 {
    margin: 0 auto !important;
}
.e-list-2 {
  margin: 50% auto !important;
}

   .u-section-5 .u-repeater-1 {
     min-height: 498px;
   }

   .u-section-5 .u-container-layout-1 {
     padding-left: 0;
     padding-right: 0;
   }

   .u-section-5 .u-image-1 {
     margin-top: -65px;
   }

   .u-section-5 .u-text-3 {
     margin-top: 25px;
     margin-left: 10px;
     margin-right: 10px;
   }

   .u-section-5 .u-text-4,
   .u-section-5 .u-text-6,
   .u-section-5 .u-text-8,
   .u-section-5 .u-text-10,
   .u-section-5 .u-text-12,
   .u-section-5 .u-text-14 {
     width: auto;
     margin-top: 10px;
     margin-left: 20%;
   }

   .u-section-5 .u-text-5, 
   .u-section-5 .u-text-7,
   .u-section-5 .u-text-9,
   .u-section-5 .u-text-11 {
     width: auto;
     margin-left: 45%;
   }

   .u-section-5 .u-text-12,
   .u-section-5 .u-text-14{
    text-align: center;
   }
   .u-section-5 .u-text-13,
   .u-section-5 .u-text-15{
    margin-top: -10%;
    margin-left: -6%;
   }
   .u-section-5 .u-group-1 {
     margin-top: 101px;
     min-height: 592px;
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-5 .u-image-2 {
     margin-top: -130px;

   }

   .u-section-5 .u-text-16 {
     font-size: 1.5rem;
     width: auto;
     margin-right: auto;
     margin-left: 44%;
   }

   .u-section-5 .u-text-17,
   .u-section-5 .u-text-19,
   .u-section-5 .u-text-21,
   .u-section-5 .u-text-24,
   .u-section-5 .u-text-25
    {
     width: auto;
     margin-left: 65%;
   }

   .u-section-5 .u-text-18,
   .u-section-5 .u-text-20,
   .u-section-5 .u-text-22,
   .u-section-5 .u-text-23 {
     width: auto;
     margin-right: 35%;
     margin-left: 17%;
   }

   .u-section-5 .u-text-26{
    margin-top: -15%;
    margin-right: 44%;
    text-align: center;
   }
   .u-section-5 .u-text-27 {
     margin-top: 0%;
     margin-right: 44%;
     margin-left: 17%;
     text-align: center;
   }

   .u-section-5 .u-text-25{
    margin-top: 5%;
   }
   .u-section-5 .u-text-28 {
     margin-top: -17%;
     margin-left: 310px;

   }

   .u-section-5 .u-text-29 {
     width: auto;
     margin-top: 33px;
     margin-left: 91px;
   }

   .u-section-5 .u-text-30 {
     width: auto;
     margin-right: 4px;
     margin-left: 245px;
   }
 }

 .u-section-6 {
   background-image: none;
   min-height: 739px;
 }

 .u-section-6 .u-layout-wrap-1 {
   width: calc(((100% - 1140px) / 2) + 1140px);
   margin: 60px auto 60px 0;
 }

 .u-section-6 .u-image-1 {
   min-height: 490px;
   background-image: url("images/7479f007-c2bd-8af1-7d1c-e362713f8e7c.jpg");
   background-position: 50% 50%;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-6 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-6 .u-layout-cell-2 {
   min-height: 599px;
   background-image: none;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-6 .u-container-layout-2 {
   padding: 40px;
 }

 .u-section-6 .u-text-1 {
   margin: 0;
 }

 .u-section-6 .u-text-2 {
   font-size: 1.125rem;
   margin: 35px 0 0;
 }

 .u-section-6 .u-layout-cell-3 {
   min-height: 639px;
   background-image: none;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-6 .u-container-layout-3 {
   padding: 40px;
 }

 .u-section-6 .u-text-3 {
   font-size: 1.125rem;
   font-style: normal;
   margin: 0;
 }

 .u-section-6 .u-text-4 {
   margin: 20px 0 0;
 }

 .u-section-6 .u-btn-1 {
   border-style: solid;
   padding: 0;
 }

 .u-section-6 .u-btn-2 {
   background-image: none;
   border-style: none;
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: 2px;
   margin: 44px auto 0 0;
 }

 .u-section-6 .u-shape-1 {
   width: 140px;
   height: 140px;
   margin: 117px 0 0 auto;
 }

 @media (max-width: 1199px) {
   .u-section-6 {
     min-height: 634px;
   }

   .u-section-6 .u-layout-wrap-1 {
     width: calc(((100% - 940px) / 2) + 940px);
   }

   .u-section-6 .u-image-1 {
     min-height: 404px;
   }

   .u-section-6 .u-layout-cell-2 {
     min-height: 494px;
   }

   .u-section-6 .u-container-layout-2 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-6 .u-layout-cell-3 {
     min-height: 527px;
   }

   .u-section-6 .u-container-layout-3 {
     padding-left: 30px;
     padding-right: 30px;
   }
 }

 @media (max-width: 991px) {
   .u-section-6 {
     min-height: 734px;
   }

   .u-section-6 .u-layout-wrap-1 {
     width: calc(((100% - 720px) / 2) + 720px);
   }

   .u-section-6 .u-image-1 {
     min-height: 614px;
   }

   .u-section-6 .u-layout-cell-2 {
     min-height: 614px;
   }

   .u-section-6 .u-container-layout-2 {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .u-section-6 .u-layout-cell-3 {
     min-height: 100px;
   }

   .u-section-6 .u-container-layout-3 {
     padding-top: 30px;
     padding-bottom: 30px;
   }

   .u-section-6 .u-shape-1 {
     margin-top: 109px;
   }
 }

 @media (max-width: 767px) {
   .u-section-6 {
     min-height: 1220px;
   }

   .u-section-6 .u-layout-wrap-1 {
     width: calc(((100% - 540px) / 2) + 540px);
   }

   .u-section-6 .u-image-1 {
     min-height: 943px;
   }

   .u-section-6 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-6 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-6 .u-container-layout-2 {
     padding-left: 50px;
   }

   .u-section-6 .u-container-layout-3 {
     padding-left: 50px;
   }
 }

 @media (max-width: 575px) {
   .u-section-6 {
     min-height: 963px;
   }

   .u-section-6 .u-layout-wrap-1 {
     width: calc(((100% - 340px) / 2) + 340px);
   }

   .u-section-6 .u-image-1 {
     min-height: 439px;
   }

   .u-section-6 .u-container-layout-2 {
     padding-left: 40px;
   }

   .u-section-6 .u-container-layout-3 {
     padding-left: 40px;
   }
 }

 .u-section-7 {
   background-image: none;
 }

 .u-section-7 .u-sheet-1 {
   min-height: 500px;
 }

 .u-section-7 .u-layout-wrap-1 {
   margin-top: 60px;
   margin-bottom: 60px;
 }

 .u-section-7 .u-layout-cell-1 {
   min-height: 380px;
 }

 .u-section-7 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-7 .u-text-1 {
   margin-top: 0;
 }

 .u-section-7 .u-layout-cell-2 {
   min-height: 380px;
 }

 .u-section-7 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-7 .u-text-2 {
   margin-top: 0;
   font-size: 1.5rem;
   letter-spacing: 2px;
   font-weight: 700;
 }

 .u-section-7 .u-layout-cell-3 {
   min-height: 380px;
 }

 .u-section-7 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-7 .u-text-3 {
   margin-top: 0;
   margin-bottom: 0;
 }

 @media (max-width: 1199px) {
   .u-section-7 .u-layout-wrap-1 {
     position: relative;
   }

   .u-section-7 .u-layout-cell-1 {
     min-height: 313px;
   }

   .u-section-7 .u-layout-cell-2 {
     min-height: 313px;
   }

   .u-section-7 .u-text-2 {
     font-size: 1.125rem;
   }

   .u-section-7 .u-layout-cell-3 {
     min-height: 313px;
   }
 }

 @media (max-width: 991px) {
   .u-section-7 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-7 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-7 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-7 .u-text-2 {
     font-size: 1rem;
   }

   .u-section-7 .u-layout-cell-3 {
     min-height: 100px;
   }

   .u-section-7 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 767px) {
   .u-section-7 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-7 .u-sheet-1 {
     min-height: 667px;
   }

   .u-section-7 .u-layout-wrap-1 {
     margin-bottom: 0;
   }

   .u-section-7 .u-layout-cell-1 {
     min-height: 109px;
   }

   .u-section-7 .u-layout-cell-2 {
     min-height: 182px;
   }

   .u-section-7 .u-layout-cell-3 {
     min-height: 316px;
   }
 }

 .u-section-8 .u-sheet-1 {
   min-height: 1423px;
 }

 .u-section-8 .u-layout-wrap-1 {
   margin: 1px 0;
 }

 .u-section-8 .u-layout-cell-1 {
   min-height: 710px;
 }

 .u-section-8 .u-container-layout-1 {
   padding: 0;
 }

 .u-section-8 .u-list-1 {
   width: 556px;
   margin: 0 auto;
 }

 .u-section-8 .u-repeater-1 {
   grid-template-columns: repeat(1, 100%);
   min-height: 710px;
   grid-gap: 0px;
 }

 .u-section-8 .u-list-item-1 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-8 .u-container-layout-2 {
   padding: 1px 35px 1px 0;
 }

 .u-section-8 .u-icon-1 {
   height: 33px;
   width: 33px;
   margin: 38px auto 0 0;
 }

 .u-section-8 .u-text-1 {
   margin: 0;
 }

 .u-section-8 .u-text-2 {
   font-weight: 700;
   margin: 16px 0 0;
 }

 .u-section-8 .u-list-item-2 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-8 .u-container-layout-3 {
   padding: 1px 35px 1px 0;
 }

 .u-section-8 .u-icon-2 {
   height: 33px;
   width: 33px;
   margin: 38px auto 0 0;
 }

 .u-section-8 .u-text-3 {
   margin: 0;
 }

 .u-section-8 .u-text-4 {
   font-weight: 700;
   margin: 16px 0 0;
 }

 .u-section-8 .u-list-item-3 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 300px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
 }

 .u-section-8 .u-container-layout-4 {
   padding: 1px 35px 1px 0;
 }

 .u-section-8 .u-icon-3 {
   height: 33px;
   width: 33px;
   margin: 38px auto 0 0;
 }

 .u-section-8 .u-text-5 {
   margin: 0;
 }

 .u-section-8 .u-text-6 {
   font-weight: 700;
   margin: 16px 0 0;
 }

 .u-section-8 .u-layout-cell-2 {
   min-height: 710px;
 }

 .u-section-8 .u-container-layout-5 {
   padding: 30px;
 }

 .u-section-8 .u-text-7 {
   margin: 64px auto 0;
 }

 .u-section-8 .u-image-1 {
   width: 431px;
   height: 431px;
   background-image: url("images/438171880_1012153276945548_679353720570271404_n.jpg");
   background-position: 50% 0%;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
   margin: 39px auto 0;
 }

 .u-section-8 .u-layout-cell-3 {
   min-height: 659px;
 }

 .u-section-8 .u-container-layout-6 {
   padding: 30px;
 }

 .u-section-8 .u-text-8 {
   margin: 0 auto;
 }

 .u-section-8 .u-form-1 {
   height: 393px;
   width: 495px;
   margin: 45px auto 0;
 }

 .u-section-8 .u-btn-1 {
   background-image: none;
   padding: 9px 0 11px;
 }

 @media (max-width: 1199px) {
   .u-section-8 .u-sheet-1 {
     min-height: 2180px;
   }

   .u-section-8 .u-layout-wrap-1 {
     position: relative;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 585px;
   }

   .u-section-8 .u-list-1 {
     width: 470px;
   }

   .u-section-8 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-8 .u-container-layout-2 {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 0;
   }

   .u-section-8 .u-container-layout-3 {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 0;
   }

   .u-section-8 .u-container-layout-4 {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 0;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 330px;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 1;
   }

   .u-section-8 .u-image-1 {
     width: 100%;
     height: 40%;
   }

   .u-section-8 .u-layout-cell-3 {
     min-height: 543px;
   }

   .u-section-8 .u-form-1 {
     width: 395px;
   }

   .u-section-8 .u-btn-1 {
     width: 100%;
   }
 }

 @media (max-width: 991px) {
   .u-section-8 .u-sheet-1 {
     min-height: 1858px;
   }

   .u-section-8 .u-layout-wrap-1 {
     margin-top: 980px;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 126px;
   }

   .u-section-8 .u-list-1 {
     width: 360px;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-8 .u-layout-cell-3 {
     min-height: 100px;
   }

   .u-section-8 .u-form-1 {
     width: 285px;
   }
 }

 @media (max-width: 767px) {
   .u-sheet-1 {
     min-width: 100%;
   }

   .u-section-8 .u-sheet-1 {
     min-height: 2298px;
   }

   .u-section-8 .u-layout-wrap-1 {
    margin-top: 0px;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 189px;
   }

   .u-section-8 .u-container-layout-5 {
    margin-bottom: 33%;
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-8 .u-image-1 {
    width: 35%;
    height: 121%;
  }

   .u-section-8 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-8 .u-form-1 {
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }
 }

 @media (max-width: 575px) {
   .u-section-8 .u-sheet-1 {
     min-height: 2015px;
   }

   .u-section-8 .u-layout-wrap-1 {
     margin-top: 54px;
     margin-bottom: 0;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 119px;
     order: 1;
   }

   .u-section-8 .u-list-1 {
     width: 340px;
   }

   .u-section-8 .u-layout-cell-2 {
     order: 0;
   }

   .u-section-8 .u-image-1 {
     width: 320px;
     height: 320px;
   }
 }

 .u-section-9 {
   background-image: none;
 }

 .u-section-9 .u-sheet-1 {
   min-height: 750px;
 }

 .u-section-9 .u-shape-1 {
   width: 289px;
   background-image: none;
 }

 .u-section-9 .u-layout-wrap-1 {
   margin-top: 132px;
   margin-bottom: 60px;
 }

 .u-section-9 .u-image-1 {
   background-image: url("images/serer.jpg");
   background-position: 50% 50%;
   min-height: 550px;
 }

 .u-section-9 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-9 .u-layout-cell-2 {
   min-height: 550px;
 }

 .u-section-9 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-9 .u-video-1 {
   height: 500px;
   position: absolute;
   top: 11px;
   left: 67px;
 }

 .u-section-9 .u-layout-cell-3 {
   min-height: 275px;
 }

 .u-section-9 .u-container-layout-3 {
   padding: 0;
 }

 .u-section-9 .u-text-1 {
   font-size: 1.125rem;
   font-weight: 600;
   margin: 0 17px 0 30px;
 }

 .u-section-9 .u-layout-cell-4 {
   min-height: 275px;
 }

 .u-section-9 .u-container-layout-4 {
   padding: 0;
 }

 .u-section-9 .u-text-2 {
   font-size: 2.25rem;
   text-transform: none;
   letter-spacing: normal;
   font-weight: 700;
   margin: 0;
 }

 .u-section-9 .u-social-icons-1 {
   white-space: nowrap;
   height: 32px;
   min-height: 16px;
   width: 188px;
   min-width: 124px;
   margin: 30px auto 0;
 }

 .u-section-9 .u-icon-1 {
   height: 100%;
 }

 .u-section-9 .u-icon-2 {
   height: 100%;
 }

 .u-section-9 .u-icon-3 {
   height: 100%;
 }

 .u-section-9 .u-icon-4 {
   height: 100%;
 }

 .u-section-9 .u-text-3 {
   font-size: 1.125rem;
   margin: 59px 0 0 96px;
 }

 @media (max-width: 1199px) {
   .u-section-9 .u-sheet-1 {
     min-height: 335px;
   }

   .u-section-9 .u-layout-wrap-1 {
     position: relative;
   }

   .u-section-9 .u-image-1 {
     min-height: 445px;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 454px;
   }

   .u-section-9 .u-video-1 {
     height: auto;
   }

   .u-section-9 .u-layout-cell-3 {
     min-height: 227px;
   }

   .u-section-9 .u-text-1 {
     margin-left: 28%;
   }

   .u-section-9 .u-layout-cell-4 {
     min-height: 227px;
   }

   .u-section-9 .u-text-3 {
     margin-left: 29px;
   }
 }

 @media (max-width: 991px) {
   .u-section-9 .u-sheet-1 {
     min-height: 913px;
   }

   .u-section-9 .u-shape-1 {
     width: 194px;
     left: auto;
     right: 252px;
   }

   .u-section-9 .u-image-1 {
     min-height: 300px;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 512px;
   }

   .u-section-9 .u-layout-cell-3 {
     min-height: 100px;
   }

   .u-section-9 .u-layout-cell-4 {
     min-height: 100px;
   }
 }

 @media (max-width: 767px) {
   .u-section-9 .u-sheet-1 {
     min-height: 2228px;
   }

   .u-section-9 .u-shape-1 {
     width: 274px;
     right: -50px;
   }

   .u-section-9 .u-image-1 {
     min-height: 409px;
   }

   .u-section-9 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 384px;
   }

   .u-section-9 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-text-3 {
     margin-left: 37%;
   }

   .u-section-9 .u-video-1 {
     height: 355px;
     width: 35%;
   }
 }

 @media (max-width: 575px) {
   .u-section-9 .u-sheet-1 {
     min-height: 1222px;
   }

   .u-section-9 .u-shape-1 {
     width: 142px;
   }

   .u-section-9 .u-layout-wrap-1 {
     margin-top: 60px;
   }

   .u-section-9 .u-image-1 {
     min-height: 340px;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 242px;
   }

   .u-section-9 .u-text-1 {
    margin: 25% 17px 0 60px;
  }
   .u-section-9 .u-text-2 {
     font-size: 1.5rem;
     margin-left: 40%;
   }
   .u-section-9 .u-text-3 {
    margin-left: 30%;
}

   .u-section-9 .u-video-1 {
     height: 320px;
     width: 35%;
   }
 }